
    .dpt-panel-custom-unmaximized {
        background-color: rgba(26, 95, 180, 0.20);
    }

    .dpt.dpt-panel-custom-unmaximized .panel-corner {
        -panel-corner-background-color: rgb(26, 95, 180);
        -panel-corner-opacity: 0.20;
    }

    .dpt-panel-custom-maximized {
        background-color: rgba(26, 95, 180, 1.00);
    }

    .dpt.dpt-panel-custom-maximized .panel-corner {
        -panel-corner-background-color: rgb(26, 95, 180);
        -panel-corner-opacity: 1.00;
    }