[Desktop Entry]
Name=Chrome
Comment=Install Google Chrome browser
OnlyShowIn=GNOME;Unity;
Exec=xdg-open /usr/share/applications/apps-for-install/com.google.Chrome.flatpakref
Icon=/usr/share/applications/apps-for-install/icons/chrome.png
StartupNotify=false
Terminal=false
Type=Application
