[Desktop Entry]
Name=Pencil2D
Comment=Install Pencil2D
OnlyShowIn=GNOME;Unity;
Exec=xdg-open /usr/share/applications/apps-for-install/org.pencil2d.Pencil2D.flatpakref
Icon=/usr/share/applications/apps-for-install/icons/pencil2d.png
StartupNotify=false
Terminal=false
Type=Application
