[Desktop Entry]
Name=OpenToonZ
Comment=Install OpenToonZ
OnlyShowIn=GNOME;Unity;
Exec=xdg-open /usr/share/applications/apps-for-install/io.github.OpenToonz.flatpakref
Icon=/usr/share/applications/apps-for-install/icons/opentoonz.png
StartupNotify=false
Terminal=false
Type=Application
