[Desktop Entry]
Name=GNOME Builder
Comment=Install GNOME Builder IDE 
OnlyShowIn=GNOME;Unity;
Exec=/usr/share/applications/groups-for-install/games.sh
Icon=/usr/share/applications/apps-for-install/icons/gnome-builder.png
StartupNotify=false
Terminal=false
Type=Application
