[Desktop Entry]
Name=Monitorets
Comment=Install Monitorets
OnlyShowIn=GNOME;Unity;
Exec=xdg-open /usr/share/applications/apps-for-install/io.github.jorchube.monitorets.flatpakref
Icon=/usr/share/applications/apps-for-install/icons/monitorets.png
StartupNotify=false
Terminal=false
Type=Application
