[Desktop Entry]
Name=Games
Name[es]=Juegos
Comment=Install games applications
Comment[es]=Instala aplicaciones para juegos
OnlyShowIn=GNOME;Unity;
Exec=/usr/share/applications/groups-for-install/games.sh
Icon=/usr/share/applications/groups-for-install/icons/games.png
StartupNotify=false
Terminal=true
Type=Application
